<app-in-game-layout>
  <div class="gameRoom u-container">
    <div class="gameRoom-title">
      <app-logo-title />
    </div>
    @if (currentQuestion$ | async; as question) {
      @defer (when question.question.length > 0) {
        <app-game-question
          [question]="{
            question: question.question,
            numberQuestion: question.ordinal
          }" />
        <app-response-group
          [answerData]="question.answers"
          [idQuestion]="question.id" />
      }@placeholder {
        <app-modal>

        </app-modal>
      }
    }
  </div>
</app-in-game-layout>
