<app-in-game-layout>
  <div class="gameRoom u-container">
    <div class="gameRoom-title">
      <app-logo-title />
    </div>

    @if ((currentQuestion$ | async) !== null && (currentQuestion$ | async); as question) {
      @defer (when question.answers) {
        <app-game-question
          [question]="{
            question: question.question,
            numberQuestion: question.ordinal,
            questionId: question.id
          }" />
        <app-response-group
          [answerData]="question.answers"
          [idQuestion]="question.id" />
      } @placeholder {
        <app-modal [isOpen]="true">
          <app-spiner message="Cargando preguntas ..."></app-spiner>
        </app-modal>
      }
    }
  </div>
</app-in-game-layout>
