:host {
  display: block;
}
.gameRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.gameRoom-title {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
