.layout{
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      max-width: 600px;
      margin: 0 auto;
      height: 100dvh;
}

.column{
      grid-column: 1;
      padding: 1rem;
}

.header{
      height: 100px;
}

.avatar{
      width: 50px;
}

.onBar{
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2rem;
}

.offBar{
      width: 100%;
      height: 4px;
      background-color: var(--alert-red-color);
      border-radius: 2rem;
}