<div class="podium">
  <ng-container *ngFor="let player of topPlayer; let i = index">
    <div class="podium-bar" [style.height]="podiumSteps[i] + '%'">
      <div class="shadow-md podium-imgWrapper" style="border-radius: 50%">
        <app-image-basic
          [size]="3"
          [customStyles]="{ borderRadius: '50%' }"
          [imageParameters]="{ src: player.avatar, alt: 'avatar player' }"
        ></app-image-basic>
      </div>
      <div class="podium-data">
        <div class="d-flex flex-column gap-2">
          <strong>{{ player.playerName }}</strong>
          <span class="podium-points">{{ player.score }}</span>
        </div>
      </div>
      <span class="podium-index fw-bold">{{ i + 1 }}</span>
    </div>
  </ng-container>
</div>