:host {
  display: contents;
}

.timer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.timer-img {
  width: 2rem;
  height: 2rem;

  @media screen and (min-width: 1200px) {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.timer-time {
  font-weight: bold;
  font-size: 1.5rem;

  @media screen and (min-width: 1200px) {
    font-weight: 3rem;
    font-weight: normal;
  }
}
