<form [formGroup]="answersForm" class="form">
  @for (answer of answerData(); track answer; let i = $index) {
    <label
      tabindex="1"
      class="form-answer"
      [for]="'answer' + i">
      <input
        (change)="checkAnswer(answer.id)"
        type="radio"
        name="answer"
        formControlName="answer"
        [value]="answer.answer"
        [id]="'answer' + i" />
      {{ answer.answer | capitalize }}
    </label>
  }
</form>

<app-modal [isOpen]="inOpen">
  <app-spiner message="Esperando a que todos envíen su respuesta..." />
</app-modal>
