:host {
  display: block;
}

.answer {
  font-size: 28px;
  background-color: var(--bg-color-2);
  border: solid 4px var(--highlight-color);
  border-radius: var(--radius-btn);
  height: 5rem;
  min-width: 20.4375 rem;
  display: grid;
  place-content: center;
}
