<div class="container-sm d-flex flex-column justify-content-between align-items-center gap-2">
  @if( maxQ$ | async; as maxQ){
    <span class="number-question">{{question()?.numberQuestion}}/{{maxQ.numOfQuestions}}</span>
  }
  <div class="u-max-w d-grid gap-2">
    <p class="question text-center u-text-pretty">
      {{question()?.question}}
    </p>
    <div class=" timer d-flex justify-content-between align-items-center ">
      <app-timer />
      <div class="d-flex  align-items-center gap-2">
        <img src="assets/group.svg" alt="group icon">
        <span class="pt-2">
          3/5
        </span>
      </div>
    </div>
  </div>
</div>
