<div
  class="question">
  @if (configGame$ | async; as configGame) {
    <span class="question-number"
      >{{ question()?.numberQuestion }}/{{ configGame.numOfQuestions }}</span
    >
  }
  <p class="question-text u-text-pretty">
    {{ question()?.question }}
  </p>
  <div class="extra">
    <div class="extra-timer">
      <app-timer [idQuestion]="question()?.questionId" />
    </div>
    <div class="extra-logo">
      <app-logo-title />
    </div>
    <div class="extra-players">
      <span class="extra-readyNumbers"> 3/5 </span>
      <img class="extra-img" src="assets/group.svg" alt="group icon" />
    </div>
  </div>
</div>
