:host {
  display: block;
}

.question {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto 1fr;
  @media screen and (min-width: 1200px) {
    gap: 2rem;
  }
}

.question-number {
  grid-row: 1/2;
  font-size: 1.125rem;
  font-weight: lighter;
  justify-self: center;
  grid-column: 1 / 3;

  @media screen and (min-width: 1200px) {
    grid-row: 2/3;
    font-size: 2rem;
  }
}

.question-text {
  grid-row: 2/3;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  grid-column: 1 / 3;

  @media screen and (min-width: 1200px) {
    grid-row: 3/4;
    padding-top: 2rem;
  }
}

.extra {
  width: 100%;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  grid-column: 1 / 3;

  @media screen and (min-width: 1200px) {
    grid-row: 1/2;
  }
}

.extra-logo {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.extra-timer {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;

  @media screen and (min-width: 1200px) {
    width: 4rem;
    height: 4rem;
  }
}

.extra-players {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.extra-readyNumbers {
  padding-top: 0.5rem;
  font-size: 1.375rem;
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}

.extra-img {
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
}
