<div class="navDaily">
  <label for="nav-daily">
    <input type="checkbox" name="nav-daily" id="nav-daily">
    <span>&#10067;</span>
  </label>

  <ul class="nav justify-content-center bg-light  d-flex flex-column ">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="results-room/previous-result">Sala resultados previos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="results-room/final-results">Sala resultados finales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active-link" routerLink="game-room">Sala de juego</a>
    </li>
  </ul>
</div>
