<section class="layout">
  <div class="room-configuration">
    <h2 class="subtitle">Configuración de sala</h2>
    <form>
      <div class="container-fields">
        <div class="field">
          <select name="numberPlayer" class="field-select">
            @for (value of valuesNumberOfPlayers; track value) {
              <option value="{{value}}">{{value}}</option>
            }
          </select>
          <label id="numberPlayer" class="field-label"># Jugadores</label>
        </div>
        <div class="field">
          <select name="numberQuestion" class="field-select">
            @for (value of valuesNumberOfQuestions; track value) {
              <option value="{{value}}">{{value}}</option>
            }
          </select>
          <label id="numberQuestion" class="field-label"># Preguntas</label>
        </div>
      </div>
    </form>
  </div>
</section>
