.slider {
  width: 300px; /* Ancho del slider */
  overflow: hidden; /* Oculta el contenido que excede el ancho del slider */
}

.slide {
  float: left; /* Hace que las imágenes floten a la izquierda */
  width: 300px; /* Ancho de cada slide */
}

img {
  width: 100%; /* Haz que las imágenes ocupen todo el ancho del slide */
}
