.code {
  background-color: var(--secondary-color-dark);
  border-radius: 1rem;
  max-height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.number {
  font-size: 3em;
}

.custom-button{
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
}

.custom-button:hover {
  background-color: var(--secondary-color-dark);
}

.custom-button:active, .custom-button:focus  {
  border: solid 3px var(--secondary-color-light);
  color: black;
}
