picture, img {
  max-width: none;
  width: auto;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 
    inset 0 -7px 1rem rgba(0, 0, 0, 0.25),
    inset 0 7px 4px rgba(255, 255, 255, 0.25);
}

.bg--secondary-color-dark {
  background-color: var(--secondary-color-dark);
}

.frame--small {
  width: 3rem;
  height: 3rem;
}

.frame--normal {
  width: 4.25rem;
  height: 4.25rem;
}

.frame--medium {
  width: 6.125rem;
  height: 6.125rem;
  
}

.frame--large {
  width: 10.25rem;
  height: 10.25rem;
}

.l-shadow {
  box-shadow: 
    0 0 5px 2rem var(--secondary-color-dark);
}

.s-shadow-white {
  box-shadow: 0 0 0 2px var(--secondary-color-light);
}

.s-shadow-green {
  box-shadow: 0 0 10px 2px var(--accent-color);
}

.container-image {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 78%;
  height: 78%;
  border-radius: 50%;
  background-color: #AAC8EC;
  box-shadow: inset 0 -1rem .75rem rgba(0, 0, 0, .5);
}

.image {
  width: auto;
  height: 105%;
  max-width: none;
}

