.bg-purpel {
  background-color: var(--primary-color);
  background-image: url(../../../assets/trama-gris-preguntonic.png);
  background-position: center center;
  background-size: cover;

}
.bg-purpel-dark {
  background-color: var(--secondary-color-dark);
}

.bg-gray-dark {
  background-color: var(--primary-color);
}

.layout{
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin: 0 auto;
  height: 100dvh;
}

.column {
  grid-column: 1;
}

.title-y {
  color: var(--secondary-color-light);
  font-family: var(--font-headings);
  font-size: var(--font-size-lg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.max-w-200{
  max-width: 400px;
}

input{
  font-size: 1.8rem;
  color: var(--secondary-color-light);
  border-radius: 1rem;
  text-align: center;
}

input::placeholder {
  color:var(--secondary-color-dark);
  padding: 1rem;
}
