<section class="layout">
  <app-logo-title class="logo"/>
  <form class="form-user">
    <div class="input-avatar">
      <app-avatar-with-frame [avatarId]="selectedAvatar" frameMesuare="large" shadow="l-blue"></app-avatar-with-frame>
      <app-change-icon-button (click)="openModal($event)"></app-change-icon-button>
    </div>
    <input  
      name="name"
      type="text"
      class="input"
      placeholder="Nombre"
      [(ngModel)]="playerName" 
    />
    <div class="container-buttons">
      <app-custom-button
        (click)="navigateView('/room-configuration')"
        ariaCurrentWhenActive="page"
      >Crear sala
      </app-custom-button>
      <app-custom-button (click)="navigateView('/join-room')">Unirse a sala</app-custom-button>
    </div>
  </form>
  <app-info-icon-button></app-info-icon-button>
</section>

<app-modal [isOpen]="stateModal()">
  <div class="modal-content ">
    <div class="avatars-container">
      @for (avatar of avatars; track avatar.id) {
        <div>
          <input 
            [id]="avatar.id"
            name="avatars"
            class="radio-button"
            type="radio"
            [(ngModel)]="currentAvatar"
            [value]="avatar.id">
          <label 
            class="label" 
            [ngClass]="{'label--checked': avatar.id === currentAvatar}" 
            [for]="avatar.id" 
            tabindex="0" 
            (keypress)="handleKeypress($event)"
          >
            <app-avatar-with-frame 
              frameMesuare="medium"
              avatarId="{{avatar.id}}"
              background="blue"
              [shadow]="avatar.id === currentAvatar ? 's-green' : 's-white'"
            />
          </label>
        </div>
      }
      @for (item of [0,1,2,3,4]; track $index) {
        <div class="circle-empty">Pronto</div>
      }
    </div>
    <app-custom-button (click)="selectAvatar()">Elejir</app-custom-button>
  </div>
</app-modal>


<!-- <section class="layout pt-4 bg-purpel">
  <div
    class="container d-flex flex-column gap-3 justify-content-between aling-items-center column">
    <app-logo-title />
    <div class="card bg-purpel-dark p-4 m-auto">
      <div class="card-head p-4">
        <h1 class="text-center title-y">Seleccionar un Avatar</h1>
      </div>
      <div class="card-body p-4 justify-content-center">
        <app-avatar-image
          [images]="avatarImages"
          (avatarSelected)="selectAvatar($event)"></app-avatar-image>
        <form class="card-footer flex-fill">
          <input
            name="name"
            type="text"
            class="bg-gray-dark"
            placeholder="Nombre"
            [(ngModel)]="playerName" />
        </form>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center gap-4">
      <app-custom-button
        (click)="navigateView('/room-configuration')"
        ariaCurrentWhenActive="page"
        >Crear sala</app-custom-button
      >
      <app-custom-button (click)="navigateView('/join-room')"
        >Unirse a sala</app-custom-button
      >
    </div>
    <div class="d-flex justify-content-end pb-2">
      <app-custom-button>❕</app-custom-button>
    </div>
  </div>
</section>
 -->