.bg-purpel {
  background-color: var(--game-clr-purple);
}
.bg-purpel-dark {
  background-color: var(--game-clr-dark-purple);
}

.layout{
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin: 0 auto;
  height: 100dvh;
}

.column {
  grid-column: 1;
}

.title-y {
  color: var(--game-clr-yellow);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.max-w-200{
  max-width: 400px;
}

input{
  font-size: 1.8rem;
  color: var(--game-clr-yellow);
  border-radius: 1rem;
  text-align: center;
}

input::placeholder {
  color:var(--game-clr-dark-purple);
  padding: 1rem;
}
