:host {
  display: block;
}

.answer-title {
  font-size: 2rem;
  font-weight: bold;
}

.answer-content {
  font-size: 1.75rem;
  background-color: var(--secondary-color-dark);
  border-radius: var(--radius-btn);
  border: solid 4px currentColor;
  font-weight: bold;
  height: 5rem;
  min-width: 20.4375 rem;
  display: grid;
  place-content: center;
  border-color: var(--accent-color);
}

