.custom-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1.5rem 1rem 1.5rem 1rem;
  width: 100%;

  background-color: var(--accent-color);
  box-shadow: 4px 4px 4px var(--primary-color);
  border: 4px solid var(--accent-color);
  border-radius: .5rem;

  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
}

.custom-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color-light);
}

.custom-button:active {
  background-color: var(--primary-color);
  border-color: var(--secondary-color-light);
  color: var(--secondary-color-light);
}

.custom-button--secondary {
  background-color: var(--secondary-color-light);
  border: 4px solid var(--secondary-color-light);
  color: var(--primary-color);
}

.custom-button--secondary:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.custom-button--secondary:active {
  background-color: var(--primary-color);
  border-color: var(--secondary-color-light);
  color: var(--secondary-color-light);
}

.custom-button--red {
  background-color: var(--alert-red-color);
  border: 4px solid var(--alert-red-color);
  color: #000;
}

.custom-button--red:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color-light);
}

.custom-button--animation {
  animation: .5s fadeIn .7s ease-in-out forwards;
  transform: translateY(1rem);
  opacity: 0;
}

@media screen and (max-width: 400px){
  .custom-button {
    font-size: 1.7rem;
  }
}
