:host {
  display: block;
}

.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100dvh;
  gap: 3rem;
}

.layout-footer {
  grid-row: 2/3;
  background-color: var(--secondary-color-dark);
  position: relative;
  z-index: 1;
  padding:.5rem 1.5rem;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: solid 4px var(--accent-color);
    border-bottom: none;
    padding-inline: 1.5rem;
  }
}
